
#img1 {
    width: 20%;
    position: absolute;
    right: 20px;
    top: 200px;
}

#img2 {
    width: 20%;
    position: absolute;
    right: 40px;
    top: 300px;
}

#img3 {
    width: 20%;
    position: absolute;
    right: 60px;
    top: 400px;
}

#img4 {
    width: 20%;
    position: absolute;
    right: 500px;
    top: 200px;
}

#img5 {
    width: 20%;
    position: absolute;
    right: 20px;
    top: 200px;
}

#img6 {
    width: 20%;
    position: absolute;
    right: 1000px;
    top: 200px;
}