
#img1 {
    width: 20%;
    position: absolute;
    right: 20px;
    top: 200px;
}

#img2 {
    width: 20%;
    position: absolute;
    right: 987px;
    top: 430px;
}

#img3 {
    width: 20%;
    position: absolute;
    right: 550px;
    top: 470px;
}

#img4 {
    width: 15%;
    position: absolute;
    right: 500px;
    top: 150px;
}

#img5 {
    width: 19%;
    position: absolute;
    right: 100px;
    top: 500px;
    z-index: 1;
}

#img6 {
    width: 11%;
    position: absolute;
    right: 870px;
    top: 200px;
}